flows.json
[{"id":"afd811cc.5e9cb","type":"tab","label":"Customer Care","disabled":false,"info":""},{"id":"3051b673.37903a","type":"ui_form","z":"afd811cc.5e9cb","name":"","label":"","group":"6bce385e.9e7238","order":1,"width":0,"height":0,"options":[{"label":"Enter you input.","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":220,"wires":[["6003f7f2.629ab8"]]},{"id":"45344877.9a7f78","type":"function","z":"afd811cc.5e9cb","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["e9bc1710.3200f8"]]},{"id":"6003f7f2.629ab8","type":"function","z":"afd811cc.5e9cb","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["e5996e5.6f5d09","338bc2ab.bb1a2e"]]},{"id":"e5996e5.6f5d09","type":"watson-conversation-v1","z":"afd811cc.5e9cb","name":"Customer Care","workspaceid":"53ba30b9-f868-463e-94f2-bc7ee2e7418d","multiuser":true,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/8ede2513-0c36-4c7a-85eb-b981fc6e745b","timeout":"","optout-learning":false,"x":520,"y":120,"wires":[["45344877.9a7f78","2bc2206.36cfde"]]},{"id":"338bc2ab.bb1a2e","type":"ui_text","z":"afd811cc.5e9cb","group":"6bce385e.9e7238","order":2,"width":0,"height":0,"name":"","label":"You : ","format":"{{msg.payload}}","layout":"row-left","x":490,"y":280,"wires":[]},{"id":"2bc2206.36cfde","type":"debug","z":"afd811cc.5e9cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":60,"wires":[]},{"id":"e9bc1710.3200f8","type":"ui_text","z":"afd811cc.5e9cb","group":"6bce385e.9e7238","order":3,"width":7,"height":"4","name":"","label":"Bot :","format":"{{msg.payload}}","layout":"col-center","x":790,"y":300,"wires":[]},{"id":"6bce385e.9e7238","type":"ui_group","z":"","name":"Chatbot","tab":"54c01022.d3ec9","order":1,"disp":true,"width":7,"collapse":false},{"id":"54c01022.d3ec9","type":"ui_tab","z":"","name":"Customer Care","icon":"dashboard","order":1,"disabled":false,"hidden":false}]